{% extends "base.html" %}

{% block title %} Proposer un nouveau trajet{% endblock %}


{% block content %}
<h1> Nouveau trajet</h1>

<form action="" method="post">
{% csrf_token %}

<ul>
	{% for error in mes_erreurs %}
		<li class="error">{{ error }}</li>
	{% endfor %}
</ul>
<p>
	<label>Date de départ</label>
	<input type="text" name="date_depart" placeholder = "ex : {{ today|date:"Y-m-d"}}" value="{{ today|date:"Y-m-d"}}">
</p>
<p>
	<label>Heure de départ</label>
	<input type="text" name="heure_depart" placeholder = "ex : 12:15" value ="16:00">
</p>
<p>
	<label>Ville de départ</label>
	<input type="text" name="ville_depart">
</p>
<p>
	<label>Ville d'arrivée</label>
	<input type="text" name="ville_arrivee">
</p>
<p>
	<label>Capacité</label>
	<select name = "capacite">
	  <option value="1">1</option>
	  <option value="2">2</option>
	  <option value="3">3</option>
	  <option value="4">4</option>
	  <option value="5">5</option>
	  <option value="6">6</option>
	</select>
</p>
<p>
	<label>Prix par personne [en Eur]</label>
	<input type="text" name="prix_par_personne">
</p>
<p>
	<input type="submit" value="Confirmer">
	<a href="/bienvenue">Retour à la page d'accueil</a>
</p>

</form>
{% endblock %}