{% extends "base.html" %}

{% block title %} Bienvenue Passager{% endblock %}


{% block content %}
<div class="welcome-main">
  <div class="welcome-main-content">
    <h1>Voyager avec Solvair</h1>
    <form action="/search" method="" class="search-form">
      DE
      <select name="ville_depart">
          <option value="disabled" selected disabled>Ville de départ</option>
        {% for ville in villes %}
          <option value="{{ville.id}}" >{{ ville }}</option>
        {% endfor %}
      </select>
      A
      <select name="ville_arrivee">
          <option selected disabled>Ville d'arrivée</option>
        {% for ville in villes %}
          <option value="{{ville.id}}" >{{ ville }}</option>
        {% endfor %}
      </select>
      <input type="date" name="date_depart" placeholder="Date">
      <input type="submit" value="Chercher un vol" class="btn btn-success submit-btn">
    </form>
  </div>
</div>
{% endblock %}
