{% extends "base.html" %}

{% block title %} Chercher un trajet{% endblock %}


{% block content %}
<div class="container">

<div class="col-xs-12 col-md-6 col-md-offset-3">
	<div class="solid-box">
		<h1>Chercher un vol</h1>
		<form action="" method="get">
			<ul>
				{% for error in mes_erreurs %}
					<li class="error">{{ error }}</li>
				{% endfor %}
			</ul>
			<p>
				<label>Date de départ</label>
				<input type="date" name="date_depart" value="{{date_depart}}">
			</p>
			<p>
				<label>Ville de départ</label>
				<select name="ville_depart">
					{% for ville in villes %}
            {% if ville_depart.id == ville.id %}
              <option value="{{ville.id}}" selected>{{ ville }}</option>
            {% else %}
              <option value="{{ville.id}}">{{ ville }}</option>
            {% endif %}
					{% endfor %}
				</select>
			</p>
			<p>
				<label>Ville d'arrivée</label>
				<select name="ville_arrivee">
          {% for ville in villes %}
            {% if ville_arrivee.id == ville.id %}
              <option value="{{ville.id}}" selected>{{ ville }}</option>
            {% else %}
              <option value="{{ville.id}}">{{ ville }}</option>
            {% endif %}
          {% endfor %}
				</select>
			</p>
			<p>
				<label>Nombre de personnes</label>
				<select name="capacite">
					<option value="1" {% if nbre_places == "1" %}selected {% endif %}>1</option>
					<option value="2" {% if nbre_places == "2" %}selected {% endif %}>2</option>
					<option value="3" {% if nbre_places == "3" %}selected {% endif %}>3</option>
					<option value="4" {% if nbre_places == "4" %}selected {% endif %}>4</option>
					<option value="5" {% if nbre_places == "5" %}selected {% endif %}>5</option>
					<option value="6" {% if nbre_places == "6" %}selected {% endif %}>6</option>
				</select>
			</p>
			<p>
				<input type="submit" class="btn btn-success" value="Chercher">
			</p>

		</form>
	</div>
</div>

<div class="col-xs-12">
<section class="result-search">
	<h2>Résultats de votre recherche</h2>

	{% if vols|length == 0 %}
  <div class="col-xs-6 col-md-4 solid-box">
    <h3>Vols directs</h3>
		Aucun résultats ne correspond à votre recherche, essayez autre chose...?
  </div>
	{% else %}
		{% for vol in vols %}
		<div class="col-xs-6 col-md-4 solid-box">
			<b>Ville de départ</b> : {{vol.ville_depart }} <br>
			<b>Ville d'arrivée</b> : {{vol.ville_arrivee }} <br>
			<b>Date de départ</b> : {{vol.date_depart|date:"d/m/Y" }} <br>
			<b>Heure de départ</b> : {{vol.heure_depart|date:'H:i' }} <br>
      <b>Heure d'arrivée</b> : {{vol.heure_arrivee|date:'H:i' }} <br>

			<b>Prix par personne</b> : {{vol.prix}} Eur/h<br>
      <b>Nombre de places</b> : {{ nbre_places}} <br>
      <form action="/book" method="post">
        {% csrf_token %}
        <input type="hidden" name="escale" value="0">
        <input type="hidden" name="vol_id" value="{{vol.id}}">
        <input type="hidden" name="nbre_places" value="{{ nbre_places}}">
        <input type="submit" value="Réserver" class="btn btn-danger">
      </form>

		</div>
		{% endfor %}
	{% endif %}

    {% for v in vols_indirects %}
    <div class="col-xs-6 col-md-4 solid-box">
      <h3>Vols indirects</h3>
      <b>Vol 1</b> : {{v.vol1 }} <br>
      <b>Vol 2</b> : {{v.vol2}} <br>
      <b>Ville d'arrivée 2</b> : {{v.vol2.ville_arrivee }} <br>
      <b>Date de départ</b> : {{v.vol1.date_depart|date:"d/m/Y" }} <br>
      <b>Heure de départ</b> : {{v.vol1.heure_depart|date:'H:i' }} <br>
      <b>Heure d'arrivée</b> : {{v.vol2.heure_arrivee|date:'H:i' }} <br>

      <b>Prix par personne</b> : {{v.prix}} Eur/h<br>
      <b>Nombre de places</b> : {{ nbre_places}} <br>
      <form action="/book" method="post">
        {% csrf_token %}
        <input type="hidden" name="escale" value="1">
        <input type="hidden" name="vol1_id" value="{{v.vol1.id}}">
        <input type="hidden" name="vol2_id" value="{{v.vol2.id}}">
        <input type="hidden" name="nbre_places" value="{{ nbre_places}}">
        <input type="submit" value="Réserver" class="btn btn-danger">
      </form>

    </div>
    {% endfor %}
</section>
</div>

</div>
{% endblock %}


