{% extends "base.html" %}

{% block title %} Bienvenue{% endblock %}


{% block content %}
<div class="welcome-main">
  <div class="welcome-main-content" style="border:1px solid;background-color: white;color:black;">
    <h1>Emmener vos clients plus loin, plus vite</h1>
      <div class="row">
        <div class="col-xs-12 col-md-4">
          <a href="/nouvel-avion" class="btn btn-danger" style="color:white;">Ajouter un avion</a>
        </div>
        <div class="col-xs-12 col-md-4">
          <a href="/nouveau-vol" class="btn btn-success" style="color:white;">Ajouter un vol</a>
        </div>
        <div class="col-xs-12 col-md-4">
          <a href="/tableau-de-bord-employe" class="btn btn-primary" style="color:white;">Tableau de bord</a>
        </div>
      </div>
  </div>
</div>
{% endblock %}
